<html>
    <head>
        <title>Ella's Basic Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Ella's Basic Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Some random junk that is supposed to be a post</p>
        </div>

        <div>
            <p>published: 29.07.2017, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>More random content</p>
        </div>
    </body>
</html>
